.switch{
    margin-top: 30px;
}

.cell{
    background-color: gray;
}

.config-item-container{
    background-color: orange;
}

.config-label{
    font-size: 20px;
}

.nutrition-details{
    border: 1px solid black;
}